@import "~/../../../../assets/themes/varibale.scss";


.mdc-text-field__input{
  color:#000 !important;
}
.hide-close{
 display: none;

}
.show-close{
  position: relative;
  top:15px;
  //background-color: $primary-color !important;
  margin: 10px;
  mat-icon{
    position: relative;
    top: -0px !important;
    right: 0px !important;
    display: inline;
  }
  &:hover{
    color: $accent-color !important;
  //  background-color: $primary-color !important;
    mat-icon{
      display: inline;
      color: $accent-color !important;

    //  color: #000 !important;

    }

}
}
