
<mat-form-field [appearance]="appearance" style="margin: 0 !important;padding: 0 !important;">
    <mat-label>{{label}}</mat-label>

    <input matInput autocomplete="off" #input
    [type]="type"
    (input)="onChange($event.target.value)"
    (blur)="onTouched()" required=""
    [style.color]="color"
    [readonly]="readonly"
    />
    <mat-icon matSuffix [ngStyle]="{color:color}">{{matSuffix}}</mat-icon>
    <div *ngIf="(controlDir &&controlDir.control && controlDir.control.status ==='PENDING')"
    class="loader">
    <mat-spinner></mat-spinner>
  </div>


  <div *ngIf="(controlDir &&controlDir.control && !controlDir.control.valid && controlDir.control.touched )">
    <mat-error *ngIf="(controlDir.control.hasError)">
      {{getErrorMessage()}}
    </mat-error>
    <!-- <mat-error *ngIf="(controlDir.control.hasError('minlength'))">
      {{getErrorMessage()}}
    </mat-error>
    <mat-error *ngIf="(controlDir.control.hasError('maxlength'))">
      {{getErrorMessage()}}
    </mat-error>
    <mat-error *ngIf="( controlDir.control.hasError('email'))">
      {{getErrorMessage()}}
    </mat-error> -->
  </div>

</mat-form-field>

