.form-background{
background-color:  rgba(0, 0, 0, 0.2);
padding: 10px 5px;border-radius: 10px;
color: #fff;
  .form-dialog{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}

