@import "~/../assets/themes/tooltip.scss";
@import "~/../assets/themes/varibale.scss";
@import "~/../assets/themes/dialog.scss";
@import "~/../assets/themes/calender.scss";

@import "~/../assets/themes/form.scss";
@import "~/../assets/themes/dropdpwn.scss";
@import "~/../assets/themes/form.scss";

@import "~/../assets/themes/menu.scss";
@import "~/../assets/themes/drag.scss";
@import "~/../assets/themes/table.scss";
@import "~/../assets/themes/toaster.scss";
@import "~/../assets/themes/gallery.scss";
@import "~/../assets/themes/tab.scss";
@import "~/../assets/themes/skeleton.scss";

// @import '../node_modules//lightgallery/scss/lightgallery';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

html,
body,
app-root,
.sidenav-container,
mat-sidenav-content {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  margin-top: 50px;
}


.nav-bar {
  position: sticky;
}

.content {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}





.fileover {
  border: dotted 3px green !important;
}


//center form button
.action-buttons {
  display: flex;
  justify-content: center;


}

:ng-deep {

  .mat-mdc-form-field {
    color: #fff !important;
  }



}

.mat-mdc-menu-content {
  width: 220px !important;
  // padding: 10px 20px !important;

  & .mat-mdc-menu-item {
    padding: 10px 20px !important;


    &:hover {
      background-color: rgba($color: $hover-bg-color, $alpha: 0.8) !important;
      transition: all 0.6s ease-in-out;
      color: $hover-color !important;

    }
  }
}

.date-input {
  outline-style: none !important;
  padding: 15px;
  width: 100% !important;
  background-color: $primary-color !important;
  border: 1px solid #293d1f !important;
  border-radius: 5px;

  &:focus-visible {
    border: 2px solid rgba(#476936, 1) !important;

    .ng-invalid.ng-touched {
      border: 3px solid rgba(#e57373, 1) !important;
    }
  }

  &.ng-invalid.ng-touched {
    border: 1px solid rgba(#e57373, 1) !important;
  }
}


.bottomSheet {
  background-color: $primary-color !important;
  color: $white-color !important;
  min-height: 200px;
  overflow: hidden;
  transition: 0.4s ease-in-out;

}

.bottomSheet-button {
  border: 1px solid $white-color !important;
  color: $white-color !important;
  padding: 5px 30px !important;

  &:hover {
    background-color: $white-color !important;
    color: $primary-color !important;
  }

  &:disabled {
    color: $white-color !important;
    border: 1px solid $white-color !important;
    background-color: gray !important;
  }

}

// Sticky container for PDF actions
.pdf-actions-container {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.pdf-action-button {
  width: 120px;
  height: 60px;
  background-color: #476936;
  border: none;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;

  &:hover {
    background-color: #2a4d1a;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }

  .pdf-icon {
    font-size: 24px;
    color: white;
    margin-bottom: 2px;
  }

  .close-icon {
    position: absolute;
    top: -5px !important;
    right: -15px;
    font-size: 16px;
    color: #e57373;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e57373;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #e57373;
      color: white;
    }
  }
}


#video-bg {
  position: relative;
  width: auto;
  min-width: 60%;
  min-height: 100vh;
  height: auto;
  // background: transparent url(./../../../../assets/images/bg/Network.webm) no-repeat;
  background-size: cover;

}

video {
  display: block;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  // width: 100%;

  // overflow: hidden;
  // position: fixed;
  // top: 0;
  // right: 0;
  // z-index: -100;
}

#video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}