@import "~/../assets/themes/varibale.scss";
@import "~/../assets/themes/dialog.scss";
@import "~/../assets/themes/calender.scss";

@import "~/../assets/themes/form.scss";
@import "~/../assets/themes/dropdpwn.scss";
@import "~/../assets/themes/form.scss";

@import "~/../assets/themes/menu.scss";
@import "~/../assets/themes/drag.scss";
@import "~/../assets/themes/table.scss";
@import "~/../assets/themes/toaster.scss";

@import "~/../assets/themes/tab.scss";
// @import '../node_modules//lightgallery/scss/lightgallery';

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; margin: 0 auto;padding: 0; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 100%;
  margin-top: 50px;
}


.nav-bar{
  position: sticky;
}
.content{
  padding-top: 40px;
 display: flex;
 justify-content: center;
}





.fileover{
  border: dotted 3px green !important;
}


//center form button
.action-buttons{
display: flex;
justify-content: center;


}
:ng-deep{

  .mat-mdc-form-field{
    color: #fff !important;
  }

}

.date-input{
  outline-style: none !important;
  padding: 15px;
  width: 100% !important;
  background-color: $primary-color !important;
  border: 1px solid #293d1f !important;
  border-radius: 5px;

  &:focus-visible{
    border: 2px solid rgba( #476936,1) !important;
    .ng-invalid.ng-touched{
      border: 3px solid rgba( #e57373,1) !important;
    }
  }
  &.ng-invalid.ng-touched{
    border: 1px solid rgba( #e57373,1) !important;
  }
}


.bottomSheet{
  background-color: $primary-color !important;
  color: $white-color !important;
  min-height: 200px;
  overflow: hidden;
  transition: 0.4s ease-in-out;

}
.bottomSheet-button{
  border: 1px solid $white-color !important;
  color: $white-color !important;
  padding: 5px 30px !important;
  &:hover{
    background-color: $white-color !important;
    color: $primary-color !important;
  }
  &:disabled{
    color: $white-color !important;
    border: 1px solid $white-color !important;
    background-color: gray !important;
  }

}
