<mat-card    class="custom-theme" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <mat-card-header>
    <mat-card-title >
        <div class="close" (click)="onNoClick()">
          <mat-icon >close</mat-icon>
        </div>
        <span>تسجيل حساب بنكى</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="form-dialg"  (ngSubmit)="onSubmit()">

      <div class="title">
        <mat-icon>group_plus</mat-icon>
        اضافة موظف
      </div>
  <div>
    <div class="col">
      <input type="hidden" formControlName="id" >
      <app-input-text formControlName="name" [appearance]="'outline'" [matSuffix]="'account_circle'" [label]="'اسم الموظف'"></app-input-text>
    </div>
    <div class="col">
      <app-input-text formControlName="nationalId" [appearance]="'outline'" [matSuffix]="'credit_card'" [label]="'الرقم القومى'"></app-input-text>
    </div>

    <div class="col">
      <app-input-text formControlName="tabCode" [appearance]="'outline'" [matSuffix]="'123'" [label]="'كود طب'" ></app-input-text>
      <app-input-text formControlName="tegaraCode" [appearance]="'outline'" [matSuffix]="'12mp'" [label]="'كود تجارة'"></app-input-text>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label> الاقسام  </mat-label>
        <mat-select   formControlName="departmentId" [value]="employee.departmentId" >
          <mat-option  >اختار القسم ...</mat-option>
        @for (department of departments; track $index) {

          <mat-option [value]="department.id" >{{department.name}}</mat-option>
          }
        </mat-select>
        <mat-icon matSuffix style="color: #fff !important;">account_balance</mat-icon>
      </mat-form-field>
    </div>
    <div class="col">
      <app-input-text formControlName="collage" [appearance]="'outline'" [matSuffix]="'account_balance'" [label]="'الكليه'"></app-input-text>
    </div>
    <div class="col">
      <app-input-text formControlName="section" [appearance]="'outline'" [matSuffix]="'email'" [label]="'الدرجة'"></app-input-text>
    </div>
    <div class="col">
      <app-input-text formControlName="email" [appearance]="'outline'" [matSuffix]="'email'" [label]="'البريد الالكترونى'"></app-input-text>
    </div>

  </div>
      <div class="action-buttons">
          <button type="submit"  mat-raised-button color="primary"  [disabled]="form.invalid">
              حفظ
          </button>
          <button type="button" (click)="onNoClick()" mat-raised-button color="warn">
            الغاء
        </button>
      </div>
      </form>
  </mat-card-content>
</mat-card>

