
.mat-mdc-card-content{
  height: 537px !important;
}
.action-button{
  position: relative;
  bottom: -300px;
  display: flex;
  justify-content: center;
}
textarea{
 // resize: none;
  color: #fff !important;

}
