
<div class="description-text">
  <button mat-icon-button color="accent" (click)="openDescriptionDialog()" class="add-button">

    <mat-icon>settings</mat-icon>
  </button>
  <strong>{{data?.name}}</strong>


  @if (data?.description && data?.description!=='') {
      <p class="multi-lines">
      {{data?.description}}
      </p>
  }
  @else {
    <p style="text-align: center;font-family: cairo;">لا يوجد وصف</p>
  }
</div>
<button mat-icon-button color="primary" [matMenuTriggerFor]="menu" >    <mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item  (click)="exportPdf()">
    <mat-icon >picture_as_pdf</mat-icon>
   استخراج تقرير

  </button>
  <button mat-menu-item (click)="moveFromDailyToArchive()" >
    <mat-icon>delete_forever</mat-icon>
    الغاء من اليوميه
  </button>

  <button mat-menu-item (click)="copyFormToArchive()" >
    <mat-icon>content_copy</mat-icon>
    النسخ الالى
  </button>
  <button mat-menu-item (click)="uploadReferenceDialog()" >
    <mat-icon>upload</mat-icon>
    رفع صور الموافقات</button>

</mat-menu>
<button mat-icon-button color="primary" *ngIf="data?.hasReferences" (click)="openReferenceDialog()">
  <mat-icon style="color:#fff">image</mat-icon>
</button>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table class="example-list full-width-table" matSort aria-label="Elements"   cdkDropList
  [cdkDropListData]="dataSource"
  (cdkDropListDropped)="drop($event)" >
        <!-- action Column -->
        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef  >
            <div class="table-spacer"  style="width: 20vh !important;">
              <div class="table-spacer"  style="width: 10vh !important;" >
                <button mat-icon-button (click)="addEmployeeFormDialog(null)" color="primary" class="add-button">
                  <mat-icon style="color:#fff">add</mat-icon>
                </button>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let row"  style="text-align: right !important;">
            <button mat-icon-button [routerLink]="['/employee/details/'+row?.employeeId]"  color="primary" class="info-button">
              <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button (click)="addEmployeeFormDialog(row)" color="accent"  class="edit-button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteEmployee(row)" color="warn" class="delete-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    <!-- tabCode Column -->
    <ng-container matColumnDef="tabCode" >
      <th mat-header-cell *matHeaderCellDef  >
        <mat-form-field apperance="outline" class="search" color="primary" style="width: 20vh !important;"   >
          <mat-label class="saerch-title" >كود طب</mat-label>
          <input  matInput   #tabCodeInput (search)="clear('tabCode')">
          @if (tabCodeInput.value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('tabCode')">
              <mat-icon>close</mat-icon>
            </button>
          }

        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row">

      {{row.tabCode}}
      </td>
    </ng-container>
     <!-- tegaraCode Column -->
    <ng-container matColumnDef="tegaraCode">
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field apperance="outline" class="search" color="primary"  style="width: 20vh !important;" >
        <mat-label class="saerch-title">كود تجارة</mat-label>
        <input  matInput   #tegaraCodeInput (search)="clear('tegaraCode')" >
        @if (tegaraCodeInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('tegaraCode')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field></th>
      <td mat-cell *matCellDef="let row">{{row.tegaraCode}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef >
      <mat-form-field apperance="outline" class="search" color="primary " style="width: 30vh !important;">
        <mat-label class="saerch-title">الاسم</mat-label>
        <input  matInput   #nameInput (search)="clear('name')"   >
        @if (nameInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')" >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      </th>
      <td mat-cell *matCellDef="let row">
        <span>
          {{row.name}}

        </span>


      </td>
    </ng-container>

    <!-- nationalId Column -->
    <ng-container matColumnDef="nationalId">
      <th mat-header-cell *matHeaderCellDef >
          <mat-form-field apperance="outline" class="search" color="primary"  style="width: 20vh !important;">
        <mat-label class="saerch-title">الرقم القومى</mat-label>
        <input  matInput   #nationalIdInput (search)="clear('nationalId')" >
        @if (nationalIdInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('nationalId')" >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </th>
      <td mat-cell *matCellDef="let row">{{row.nationalId}}</td>
    </ng-container>
  <!-- collage Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field apperance="outline" class="search" color="primary"  style="width: 15vh !important;">
          <mat-label class="saerch-title"> المبلغ</mat-label>
          <input matInput   #amountInput (search)="clear('collage')" >
          @if (amountInput.value) {
            <button matSuffix mat-icon-button aria-label="Clear"  (click)="clear('collage')">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row">{{row.amount}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag  [cdkDragData]=row class="example-box"></tr>


  </table>
  <div class="no-data" *ngIf="dataSource?.length===0">
    لا يوجد بيانات للعرض
    </div>
  <!-- <mat-paginator
      #paginator
      [length]="paginator?.length"
      [pageIndex]="paginator.pageIndex"
      [pageSize]="paginator.pageSize"
      [pageSizeOptions]="[30,5, 10]"
      (page)="onChange( $event)"

      aria-label="Select page">
  </mat-paginator> -->
</div>

