<div class="description-text">
  <button mat-icon-button color="accent" (click)="openDescriptionDialog()" class="add-button"
    [disabled]="daily?.closed">

    <mat-icon>settings</mat-icon>
  </button>
  <strong>{{data?.name}}</strong>


  @if (data?.description && data?.description!=='') {
  <p class="multi-lines">
    {{data?.description}}
  </p>
  }
  @else {
  <p style="text-align: center;font-family: cairo;">لا يوجد وصف</p>
  }
</div>
<button mat-icon-button color="primary" [matMenuTriggerFor]="menu"> <mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="exportPdf()" [disabled]="dataSource?.data?.length===0">
    <mat-icon>picture_as_pdf</mat-icon>
    استخراج تقرير

  </button>
  <button mat-menu-item (click)="moveFromDailyToArchive()" [disabled]="daily?.closed">
    <mat-icon>delete_forever</mat-icon>
    الغاء من اليوميه
  </button>

  <button mat-menu-item (click)="copyFormToArchive()">
    <mat-icon>content_copy</mat-icon>
    النسخ الالى
  </button>
  <button mat-menu-item (click)="uploadReferenceDialog()">
    <mat-icon>upload</mat-icon>
    رفع صور الموافقات</button>
  <button mat-menu-item (click)="downloadExcel()">
    <mat-icon>insert_drive_file</mat-icon>
    تنزيل ملف اكسيل</button>
  <button mat-menu-item (click)="openUploadExcelBottomSheet()" [disabled]="daily?.closed">
    <mat-icon>insert_drive_file</mat-icon>
    تحميل ملف اكسيل</button>
  <button mat-menu-item (click)="openPdfUploadSheet()" [disabled]="daily?.closed">
    <mat-icon>upload_file</mat-icon>
    رفع مرجع PDF</button>

  <button mat-menu-item (click)="HideForm()" [disabled]="daily?.closed">
    <mat-icon>remove_red_eye</mat-icon>
    اخفاء</button>
</mat-menu>
<button mat-icon-button color="primary" *ngIf="data?.hasReferences" (click)="openReferenceDialog()">
  <mat-icon style="color:#fff">image</mat-icon>
</button>

<div>

  <mat-checkbox color="accent" #departmentCheck><span style="color:  #fff !important">القسم</span> </mat-checkbox>
  <mat-checkbox color="accent" #tabCodeCheck> <span style="color:  #fff !important">كود طب</span> </mat-checkbox>
  <mat-checkbox color="accent" #tegaraCodeCheck> <span style="color:  #fff !important">كود تجارة</span> </mat-checkbox>
  <mat-checkbox color="accent" #employeeIdCheck><span style="color:  #fff !important">الرقم القومى</span>
  </mat-checkbox>
</div>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table class="example-list full-width-table" matSort aria-label="Elements"
    cdkDropList [cdkDropListData]="dataSource?.data" [cdkDropListDisabled]="daily?.closed"
    (cdkDropListDropped)="drop($event)">
    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-spacer" style="width: 20vh !important;">
          <div class="table-spacer" style="width: 10vh !important;">
            <button mat-icon-button (click)="addEmployeeFormDialog(null)" color="primary" class="add-button"
              *ngIf="!daily?.closed">
              <mat-icon style="color:#fff">add</mat-icon>
            </button>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let row" style="text-align: right !important;">
        <mat-checkbox *ngIf="!daily?.closed" [checked]="row?.isReviewed" [disabled]="daily?.closed"
          (click)="markAsReviewed(row, $event.target.checked)"></mat-checkbox>
        <!-- <button mat-icon-button [routerLink]="['/employee/details/'+row?.employeeId]" color="primary"
          class="info-button">
          <mat-icon>info</mat-icon>
        </button> -->
        <button mat-icon-button (click)="addEmployeeFormDialog(row)" color="accent" class="edit-button"
          *ngIf="!daily?.closed">
          <mat-icon>edit</mat-icon>
        </button>
        <!-- test dialog button removed -->
        <button mat-icon-button (click)="deleteEmployee(row)" color="warn" class="delete-button" *ngIf="!daily?.closed">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- tabCode Column -->
    <ng-container matColumnDef="tabCode">
      <th mat-header-cell *matHeaderCellDef [hidden]="!tabCodeCheck.checked" mat-sort-header="tabCode"
        class="sortable-header">
        <mat-form-field apperance="outline" class="search" color="primary" style="width: 20vh !important;">
          <mat-label class="saerch-title">كود طب</mat-label>
          <input matInput #tabCodeInput>
          @if (tabCodeInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('tabCode')">
            <mat-icon>close</mat-icon>
          </button>
          }

        </mat-form-field>

      </th>
      <td mat-cell *matCellDef="let row" [hidden]="!tabCodeCheck.checked">

        {{row.tabCode}}
      </td>
    </ng-container>
    <!-- tegaraCode Column -->
    <ng-container matColumnDef="tegaraCode">
      <th mat-header-cell *matHeaderCellDef [hidden]="!tegaraCodeCheck.checked" mat-sort-header="tegaraCode"
        class="sortable-header">
        <mat-form-field apperance="outline" class="search" color="primary" style="width: 20vh !important;">
          <mat-label class="saerch-title">كود تجارة</mat-label>
          <input matInput #tegaraCodeInput>
          @if (tegaraCodeInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('tegaraCode')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

      </th>
      <td mat-cell *matCellDef="let row" [hidden]="!tegaraCodeCheck.checked">{{row.tegaraCode}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field apperance="outline" class="search" color="primary " style="width: 30vh !important;">
          <mat-label class="saerch-title">الاسم</mat-label>
          <input matInput #nameInput>
          @if (nameInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>


      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" class="info-button" *ngIf="row.reviewComments"
          [matTooltip]="row.reviewComments" [matTooltipPosition]="'right'">
          <mat-icon>info</mat-icon>
        </button>
        <span [routerLink]="['/employee/details/'+row?.employeeId]">
          {{row.name}}

        </span>


      </td>
    </ng-container>
    <!-- Department Column -->

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef [hidden]="!departmentCheck.checked" mat-sort-header="department"
        class="sortable-header">
        <mat-form-field apperance="outline" class="search" color="primary" style="width: 10vh !important;">
          <mat-label class="saerch-title">القسم </mat-label>
          <input matInput #departmentInput>
          @if (departmentInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('department')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

      </th>
      <td mat-cell *matCellDef="let row" [hidden]="!departmentCheck.checked">{{row.department}} </td>
    </ng-container>


    <!-- employeeId Column -->
    <ng-container matColumnDef="employeeId">
      <th mat-header-cell *matHeaderCellDef [hidden]="!employeeIdCheck.checked" mat-sort-header="employeeId"
        class="sortable-header">
        <mat-form-field apperance="outline" class="search" color="primary" style="width: 20vh !important;">
          <mat-label class="saerch-title">الرقم القومى </mat-label>
          <input matInput #employeeIdInput>
          @if (employeeIdInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('employeeId')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

      </th>
      <td mat-cell *matCellDef="let row" [hidden]="!employeeIdCheck.checked">{{row.employeeId}}</td>
    </ng-container>
    <!-- collage Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="amount" class="sortable-header">
        <mat-form-field apperance="outline" class="search" color="primary" style="width: 15vh !important;">
          <mat-label class="saerch-title"> المبلغ</mat-label>
          <input matInput #amountInput>
          @if (amountInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('amount')">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

      </th>
      <td mat-cell *matCellDef="let row">{{row.amount}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [cdkDrag]="!daily?.closed" [cdkDragData]="row"
      class="example-box" [ngClass]="{
      'reviewed': row.isReviewed,
      'not-reviewed': !row.isReviewed,
      'selected': row.isSelected
    }">
    </tr>


  </table>
  <div class="no-data" *ngIf="!(dataSource?.data?.length) || dataSource?.data?.length===0">
    لا يوجد بيانات للعرض
  </div>
</div>