.page-content{
  display: flex;
  justify-content: center;
  padding-top: 60px;


  .title{
    font-family: Cairo;
    margin-bottom: 30px;
  }
  .col{
    display: flex;
    justify-content: center;

    margin: 0px !important;
     *{
       width: 100%;
     }
     margin-top: 5px !important;
  // width: 100%;
  }
  // mat-form-field{
  //   width: 100%;

  // }
  .form{

    width: 60%;
    .form-action{
      display: flex;
      justify-content: center;
    }

  }

}
