

@if(employee?.bankInfo.bankName !== null) {
  <div style="position: relative; ">
    <mat-icon>account_balance</mat-icon>
    بيانات حساب البنك
  </div>

  <button mat-icon-button color="warn" (click)="deleteBank()">
  <mat-icon>delete</mat-icon>
  </button>
  <div class="bank-info">

  <div class="bank-info-item">
   اسم البنك :  {{employee?.bankInfo?.bankName}}
  </div>
  <div class="bank-info-item">
  اسم الفرع :  {{employee?.bankInfo?.branchName}}
  </div>
  <div >
   رقم الحساب : {{employee?.bankInfo?.accountNumber}}
  </div>

  </div>
}
@else {
ليس له حساب بنكى
}
