<div class="form-container">
  <div class="form-outline">
    <h3 class="title">تغيير كلمة المرور</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

        <mat-label>كلمة المرور القديمة</mat-label>
        <app-input-text formControlName="oldPassword" appearance="fill"  type="password" [color]="'black'"></app-input-text>



        <div class="col">

        <mat-label>كلمة المرور الجديدة</mat-label>
        <app-input-text formControlName="newPassword" appearance="fill" type="password" [color]="'black'"></app-input-text>
      </div>



        <mat-label>تاكيد كلمة المرور الجديدة</mat-label>
        <app-input-text formControlName="confirmPassword" appearance="fill"  type="password" [color]="'black'"></app-input-text>



      <button  mat-button type="submit" class="btn" [disabled]="!changePasswordForm.valid">تغيير كلمة المرور</button>

    </form>

  </div>

</div>
