
<div class="title" style="font-size: 24px;">
  {{title}}
</div>
<button mat-icon-button color="primary" [matMenuTriggerFor]="menu" >    <mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">

  <ng-container *ngIf="dataSource" >
    <button mat-menu-item  [disabled]="dataSource?.length==0" >
      <mat-icon >picture_as_pdf</mat-icon>
     استخراج تقرير

    </button>

    <button mat-menu-item  (click)="removeEmployees()" [disabled]="getChecked()?.length==0" >
    <mat-icon>delete</mat-icon>
    حذف
  </button> <button mat-menu-item  (click)="removeAll()" [disabled]="dataSource?.length==0">
    <mat-icon>delete</mat-icon>
    حذف الكل
  </button>

  <button mat-menu-item  (click)="downloadFile()" [disabled]="dataSource?.length==0">
    <mat-icon>download</mat-icon>
   تنزيل ملف موظفين
  </button>
  </ng-container>


  <button mat-menu-item  (click)="uploadFile()">
    <mat-icon>upload</mat-icon>
   تحميل ملف موظفين
  </button>
</mat-menu>
<div class="mat-elevation-z8">

  <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- action Column -->
        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef  >
            <button mat-icon-button (click)="addEmployeeDialog()" color="default" class="add-button"><mat-icon>
              <mat-icon>
                add
              </mat-icon>
            </mat-icon></button>
            <mat-checkbox [checked]="mainCheck"  (change)="onCheckMain()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row"  style="text-align: right !important;">
            <button mat-icon-button [routerLink]="['/employee/details',row.id]" color="primary" class="info-button">
              <mat-icon>info</mat-icon>
            </button>

            <mat-checkbox   (change)="onCheck(row)" [checked]="row.checked"></mat-checkbox>
          </td>
        </ng-container>
    <!-- tabCode Column -->
    <ng-container matColumnDef="tabCode" >
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field apperance="outline" class="search" color="primary" style="width: 15vh !important;"  >
          <mat-label class="saerch-title" >كود طب</mat-label>
          <input  matInput   #tabCodeInput (search)="clear('tabCode')" >
          @if (tabCodeInput.value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('tabCode')">
              <mat-icon>close</mat-icon>
            </button>
          }

        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row">

      {{row.tabCode}}
      </td>
    </ng-container>
     <!-- tegaraCode Column -->
    <ng-container matColumnDef="tegaraCode">
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field apperance="outline" class="search"  style="width: 15vh !important;" >
        <mat-label class="saerch-title">كود تجارة</mat-label>
        <input  matInput   #tegaraCodeInput (search)="clear('tegaraCode')" >
        @if (tegaraCodeInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('tegaraCode')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field></th>
      <td mat-cell *matCellDef="let row">{{row.tegaraCode}}</td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef >
      <mat-form-field apperance="outline" class="search" style="width: 40vh !important;">
        <mat-label class="saerch-title">الاسم</mat-label>
        <input  matInput   #nameInput (search)="clear('name')"   >
        @if (nameInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')" >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      </th>
      <td mat-cell *matCellDef="let row">
        <span>
          {{row.name}}

        </span>


      </td>
    </ng-container>

    <!-- nationalId Column -->
    <ng-container matColumnDef="nationalId">
      <th mat-header-cell *matHeaderCellDef >
          <mat-form-field apperance="outline" class="search" color="primary"  style="width: 20vh !important;">
        <mat-label class="saerch-title">الرقم القومى</mat-label>
        <input  matInput   #nationalIdInput (search)="clear('nationalId')" >
        @if (nationalIdInput.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('nationalId')" >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </th>
      <td mat-cell *matCellDef="let row">{{row.nationalId}}</td>
    </ng-container>
  <!-- collage Column -->
    <ng-container matColumnDef="collage">
      <th mat-header-cell *matHeaderCellDef >
        <mat-form-field apperance="outline" class="search" color="primary"  style="width: 15vh !important;">
          <mat-label class="saerch-title"> الكليه</mat-label>
          <input matInput   #collageInput (search)="clear('collage')" >
          @if (collageInput.value) {
            <button matSuffix mat-icon-button aria-label="Clear"  (click)="clear('collage')">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row">{{row.collage}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="no-data" *ngIf="dataSource?.length===0">
    لا يوجد بيانات للعرض
    </div>
  <mat-paginator
      #paginator
      [length]="paginator.length"
      [pageIndex]="paginator.pageIndex"
      [pageSize]="paginator.pageSize"
      [pageSizeOptions]="[30,5, 10]"
      (page)="onChange( $event)"

      aria-label="Select page">
  </mat-paginator>
</div>

