<div class="page-content">
  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mat-mdc-form-transparent">
      <div class="title">
        <mat-icon>group_add</mat-icon>
        اضافة موظف

      </div>

    <div style="width: 100% !important;">

      <mat-form-field class="example-full-width   " style="width: 100% !important;" appearance="outline" >
        <mat-label>اسم المستخدم</mat-label>
        <input matInput  formControlName="username" >
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      </div>
      <div>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>اسم  التعريف</mat-label>
          <input matInput  formControlName="displayName" >
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>ايميل</mat-label>
          <input matInput type="email"  formControlName="email"  >
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div>

        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>صلاحيات المستخدم</mat-label>
        <mat-select multiple formControlName="roles" [value]="roles">
          @for (role of roles; track role) {
            <mat-option [value]="role.name">{{role.name}}</mat-option>
          }
          </mat-select>
          <mat-icon matSuffix>star_border</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>كلمه المرور</mat-label>
          <input matInput type="password"  formControlName="password" >
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </div>
      <div >
        <button  mat-raised-button color="primary" type="submit">دخول</button>
        <button mat-raised-button color="warn">الغاء</button>


      </div>
    </form>

  </div>


</div>

