<div class="page-content">
  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mat-mdc-form-transparent">
      <div class="title">
        <mat-icon>group_add</mat-icon>
        اضافة موظف

      </div>



      <app-input-text  formControlName="username" [label]="'اسم المستخدم'" style="width: 100%;"  [matSuffix]="'account_circle'"  ></app-input-text>
      <app-input-text  formControlName="displayName" [label]="'اسم تعريفى'" style="width: 100%;"  [matSuffix]="'face'" ></app-input-text>
      <app-input-text  formControlName="email" [label]="' البريد الالكترونى'" style="width: 100%;" [matSuffix]="'email'"  ></app-input-text>



      <div>

        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>صلاحيات المستخدم</mat-label>
        <mat-select multiple formControlName="roles" [value]="request.roles">
          @for (role of roles; track role) {
            <mat-option [value]="role.name">{{role.name}}</mat-option>
          }
          </mat-select>
          <mat-icon matSuffix>star_border</mat-icon>
        </mat-form-field>
      </div>
      <app-input-text [type]="'password'"  formControlName="password" [label]="'اسم تعريفى'" style="width: 100%;" [matSuffix]="'key'"  ></app-input-text>

      <div >
        <button  mat-raised-button color="primary" type="submit" [disabled]="form.invalid">دخول</button>
        <button mat-raised-button color="warn">الغاء</button>


      </div>
    </form>

  </div>


</div>
