.page-content{
  display: flex;
  justify-content: center;
  padding-top: 120px;

}
.login-form{

 // background-color: rgba(54, 78, 93, 0.7) !important;
  background: linear-gradient(45deg, rgba(54, 78, 93, 1) 0%,rgba(54, 78, 93, 0.7) 50%, rgba(54, 78, 93, 0.4 )75%,  rgba(54, 78, 93, 0.1) 100%),;
  border-radius: 25px;
  //padding: 60px 100px;
  width: 60% !important;
  border :3px solid rgba($color: #fff, $alpha: 0.6) !important;

  div{
    display: flex;
    justify-content: center;

    .example-full-width{
      width: 100% !important;

    }

    input{
      text-align: center;
      font-size: 14px;
    }
    mat-icon {
      color : #fff !important;
    }

  }


}

