.mat-mdc-tooltip {
    background-color: hsl(190, 19%, 10%, 1) !important;
    color: hsl(21, 100%, 50%, 1) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 900 !important;
    font-family: 'Cairo', sans-serif !important;
    padding: 8px 12px !important;
    opacity: 0.9 !important;
}