$dark-primary-color: #1b282e;

$background-gradient: linear-gradient(45deg, rgba(54, 78, 93, 1) 0%,rgba(54, 78, 93, 0.7) 50%, rgba(54, 78, 93, 0.4 )75%,  rgba(54, 78, 93, 0.1) 100%);
$primary-color: #40595d;
$accent2-color: #fa9c69;
$accent-color: #ff5a00;
$warn-color: #ff3e00;
$white-color:#fff;
$black-color:#000;



$success-color: #0ca07b;
$error-color: #f44336;
$info-color: #fa9c69;
