

<mat-card    class="custom-theme" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <mat-card-header>
    <mat-card-title >
        <div class="close" (click)="onNoClick()">
          <mat-icon >close</mat-icon>
        </div>
        <span>تسجيل يوميه</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>





        <div class="error-messages-container">
          <ul class="errors">
            @for (messgae of data.messges; track $index) {
            <li class="error">{{messgae}}</li>
          }
          </ul>





        </div>

  </mat-card-content>
</mat-card>

